.musterhaus-view vaadin-grid {
  line-height: var(--lumo-line-height-m);
}

.musterhaus-view vaadin-grid,
.musterhaus-view vaadin-grid-cell-content {
  background-color: var(--lumo-contrast-10pct);
}

.musterhaus-view .card {
  background-color: var(--lumo-base-color);
  border-radius: var(--lumo-border-radius);
  box-shadow: var(--lumo-box-shadow-xs);
  padding: calc(var(--lumo-space-s) * 1.5) var(--lumo-space-m);
  display: block;
}

.musterhaus-view img {
  border-radius: 50%;
  flex-shrink: 0;
  height: var(--lumo-size-xl);
  width: var(--lumo-size-xl);
}

.musterhaus-view .header {
  align-items: baseline;
}

.musterhaus-view .name {
  font-size: var(--lumo-font-size-xl);
  font-weight: bold;
}

.musterhaus-view .beschreibung {
  color: var(--lumo-secondary-text-color);
  font-size: var(--lumo-font-size-s);
  margin-bottom: var(--lumo-space-s);
  white-space: normal;
}

.musterhaus-view .actions {
  align-items: center;
}

.musterhaus-view iron-icon {
  color: var(--lumo-tertiary-text-color);
  height: calc(var(--lumo-icon-size-s) * 0.8);
  width: calc(var(--lumo-icon-size-s) * 0.8);
}
}
